<div ng-if='!main.loggedIn' class="jumbotron bg-color " style="height:100%; ">
  <div class='text-center animated fadeIn' style='margin-top:5%;'>
    <img src="assets/img/bike.svg" class='logo'>
    <h1 class='title-color'>Hello Bike.</h1>
    <h2 class='secondary-color'>Fun app for bike commuters.</h2>
    <a class="btn btn-default btn-lg ghost-btn" href="/login" role="button" >LOGIN</a>
  </div>
</div>


<div ng-if='main.loggedIn'>
  <div class='container'>
    <h2 >Activity Feed</h2>
    <hr>
</div>
