<div class="col-md-4 col-md-offset-4">
  <h1>Login</h1>
  <form ng-submit="login.doLogin()">
    <div class="form-group  ">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="login.loginData.username">
    </div>
    <div class='form-group'>
      <label>Password</label>
      <input type="password" class="form-control" ng-model="login.loginData.password">
    </div>
    <div class="alert alert-danger" ng-if="login.error"> {{ login.error }}
    </div>
    <button type='submit' class='btn btn-block btn-default btn-lg blue-button'>
      <span ng-if="!login.processing">LOGIN</span>
      <span ng-if='login.processing'><i class="fa fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>
