<div class='container'>
  <div class="page-header">
    <h2>Rides</h2>
  </div>
  <div class="jumbotron text-center" ng-show="ride.processing">
    <i class="fa fa-spinner fa-spin"></i> <p>Loading Rides...</p>
  </div>
  <ul class='list-group'>
    <!-- LOOP OVER THE USERS -->
      <li class='list-group-item' ng-repeat="trip in ride.rides"> <br>
        <leaflet center='ride.center' markers='ride.markers'></leaflet>
        {{ trip.username }}<br>
        {{ trip.name }}<br>
        {{ trip.route }}<br>
      <a ng-href="/rides/id/{{ trip._id }}" class="btn btn-danger">Edit</a>&nbsp;
        <a href="#" ng-click="ride.deleteRide(trip._id)" class="btn btn-primary">Delete</a><br>


</div>
