<div class='container'>
  <h2 ng-if="map.type=='create'" >Add Ride</h2>
  <h2 ng-if="map.type =='edit'" >Edit Ride</h2>
  <hr>
<div class='row'>
  <div class='col-md-6'>
    <h3>Map Your Ride</h3>
    <hr>
    <leaflet center='map.center' controls='map.controls'></leaflet>
  </div>
  <div class='col-md-6'>

    <h3 >Ride Details</h3>
    <hr>
    <form class="form-horizontal" ng-submit="map.saveRide()">
      <div class="form-group">
        <label class="col-sm-12">Name This Ride</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" ng-model="map.rideData.name">
        </div>
      </div>


<div class="form-group">
<div class="col-sm-offset-3 col-sm-6">
<button type="submit"
class="btn  btn-lg btn-block btn-default " >Save Ride</button>
<button type="submit"
class="btn  btn-lg btn-block btn-default" ng-if="map.type == 'edit'">Update Ride</button>
  </div>
  </div>
</form>
  </div>
</div>
</div>
<script>


</script>
