.bg-color{
  background: #FFF6C5;
}

.title-color{
  color: #FF712C !important;
}

.secondary-color{
  color: #695D46 !important;
}

.blue-txt{
  color: #96d8ca;
}

.blue-bg{
  background: #A1E8D9;
}

.navbar{
  border-bottom: 0px;
  margin-bottom: 0px;
}

.logo{
  padding:25px;
  padding-right:50px;
  height: 200px;
}

.blue-button{
  border: 0px;
  background: #A1E8D9;
}

.blue-button:hover, .blue-button:active, .blue-button:focus {
  background: #96d8ca;
}

.navbar-brand, .navbar-text, .nav a{
  color: #695D46 !important;
}


.show-hide-message.ng-hide-remove {
  -webkit-animation:zoomIn 0.3s both ease;
  -moz-animation:zoomIn 0.3s both ease;
  animation:zoomIn 0.3s both ease;
}

.angular-leaflet-map {
            width: 100%;
            height: 500px;
        }
